/* 070117 nramiscal@gmail.com */
/* updated 030118 nramiscal@gmail.com */

*{
  margin: 0px;
  padding: 0px;
  /* outline: 1px dashed purple; */
}

.welcome{
    text-align: center;
    margin: 20px;
    color: red;
}

.container{
    margin: 0px auto;
    width: 1000px;
}

.pokemon{
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.pokedex{
  width: 250px;
  height: 400px;
  border: 10px solid white;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  position: fixed;
}

.red{
    border: 10px solid red;
}

.name{
    text-align: center;
    margin-top: 15px;
}

.picture{
    margin-top: 15px;
}

.picture img{
    display: block;
    margin: 0px auto;
}

.types{
    margin-top: 15px;
    text-align: center;
}

.types li{
    list-style: none;
}

.height{
    margin-top: 15px;
    text-align: center;
}

.weight{
    margin-top: 15px;
    text-align: center;
}
